{% extends "../base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description|safe }}">
<meta property="og:image" content="{{ images[0].src }}">
{% endblock %}

{% block content %}

<div class="photo-content">
  <h1 class="title">{{ title }}</h1>
  <div class="markup-content description">{{ description|safe }}</div>

{% if license == "cc-by-sa-4.0" %}
  <div class="license">[!en:License|zh:授權條款!]: <a href="[!https://creativecommons.org/licenses/by-sa/4.0/|zh:https://creativecommons.org/licenses/by-sa/4.0/deed.zh_TW!]">CC-BY-SA-4.0</a></div>
{% elif license == "cc-by-nc-nd-4.0" %}
  <div class="license">[!en:License|zh:授權條款!]: <a href="[!https://creativecommons.org/licenses/by-nc-nd/4.0/|zh:https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh_TW!]">CC-BY-NC-ND 4.0</a></div>
{% endif %}

</div>
<div class="photo-content-expand" onclick="expandPhotoContent();">[!en:More|zh:往下閱讀!]</div>

<div class="photo-grid">
	{% for image in images %}<a href="{{image.src}}"><img src="{{image.thumbnail}}"></a>{% endfor %}
</div>

<script>
let images = {{ images | safe }};
let defaultImageSize = "1024x1024";
onReady.push(() => {
  initPhotoSwipeFromDOM('.photo-grid')
  if(document.getElementsByClassName('photo-content')[0].offsetHeight > 350) collapsePhotoContent();

  let url = images[0].srcInfo;
  let xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      try {
        let imageInfo = JSON.parse(xhttp.responseText);
        if(imageInfo.PixelWidth && imageInfo.PixelHeight) {
          defaultImageSize = Math.floor(imageInfo.PixelWidth/4) + "x" + Math.floor(imageInfo.PixelHeight/4);
	}
      } catch(e) {
        console.log("error parsing response", xhttp.responseText);
      }
    }
  };
  xhttp.open("GET", url, true);
  xhttp.send();
});
</script>

{% endblock %}
