{% extends "../base.html" %}

{% block content %}

<h1>Featured collections</h1>
<div class="album-grid-featured">
    {% for album in albumsFeatured %}
    <a href="/photos/{{album.name}}/">
    <div class="album">
        <div class="album-text">
          <div class="album-title">{{album.title}}</div>
	  <div class="album-subtitle">{{album.subtitle}}</div>
	</div>
	<img src="{{album.thumbnail}}">
    </div>
    </a>
    {% endfor %}
</div>

<h2>More photography</h2>
<div class="album-grid-unfeatured">
    {% for album in albumsUnfeatured %}
    <a href="/photos/{{album.name}}/">
    <div class="album">
        <div class="album-text">
	  <div class="album-title">{{album.title}}</div>
        </div>
	<img src="{{album.thumbnail}}">
    </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
