{% extends "../base.html" %}

{% block content %}

<div class="featured-album-list">
    {% for album in featured_albums %}
    <a href="/photos/{{album.name}}/">
    <div class="album">
	<div class="album-title">{{album.title}}</div>
	<img src="{{album.thumbnail}}">
    </div>
    </a>
    {% endfor %}
</div>

<div class="album-list">
    {% for album in albums %}
    <a href="/photos/{{album.name}}/">
    <div class="album">
	<div class="album-title">{{album.title}}</div>
	<img src="{{album.thumbnail}}">
    </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
