{% extends "base.html" %}

{% block content %}
  <h1>hello world</h1>

  <img src="/images/profile-camera.jpg" class="img-float-right" style="width:300pt;height:300pt;">

  <p>Hi, I'm Dheera Venkatraman. I live in the San Francisco Bay Area and do <b>robotics</b>, <b>machine learning</b>, and <b>perception</b>. I co-founded <a href="https://robby.io">Robby Technologies</a>, a Y Combinator-backed company which did 3+ years of robotic deliveries of food, groceries, and packages around the San Francisco Bay Area, and before that, I worked at the <a href="https://www.rle.mit.edu/qoptics/people/">Optical and Quantum Communications Group</a> at MIT. I come from a strong physics background and tend to attack most problems from first principles.</p>

  <h2>fun</h2>

  <p>I'm fascinated by the physics of light. Photography is one of my main hobbies. I've done many photography projects, but of late, since I'm in California, I've been seizing the opportunities to get to dark sky sites and image a lot of nebulas and deep sky objects in the context of natural landscapes, and it also allows for hiking as exercise. I also do a lot of other photography.

  <p>In my spare time I also like building robots, hiking, biking, and piano. I also think a lot about solutions to sustainability problems and how we can use technology to face them.</p>

  <h2>design</h2>

  <p>I like to live by design, not by default. If I can't find software that does what I want, I will usually build it. If I can't find a restaurant that serves what I want, I'll make it. But that applies to other things as well, like furniture, lighting, and hopefully many more things to come. One of my dreams is to one day have designed everything I own.</p>

  <h2>where are you from</h2>

  <p>Mars. But seriously, please don't ask this question or I will throw an exception. I'm a <a href="https://en.wikipedia.org/wiki/Third_culture_kid">Third-Culture Kid</a>, my culture, nationality, ethnicity, and languages all have basically nothing to do with each other, and the concept of being "from" a specific place is one that I never had.</p>

{% endblock %}
