{% extends "base.html" %}

{% block content %}
  <div class="post-content">
  <div class="markup-content">

  <h1>hello world</h1>

  [ <b><a href="https://instagram.com/dheeranet/">Follow me on Instagram!</a></b> ]

  <p>[!en:Hi, I'm Dheera Venkatraman.|zh:哈嘍，我是Dheera。!]

  [!en:I live in the San Francisco Bay Area and do <b>robotics</b>, <b>machine learning</b>, and <b>perception</b>.|zh:我主要做機器人，機器學習，以及計算機視覺相關領域，坐標加州灣區。!]

  [!en:I currently work at <a href="https://freedomrobotics.ai">Freedom Robotics</a> where we make enterprise robot fleet monitoring solutions.|zh:目前在<a href="https://freedomrobotics.ai">Freedom Robotics</a>（硅谷早期創業公司）做機器人管理與控制的平台。!]

  [!en:Prior to that I co-founded <a href="https://robby.io">Robby Technologies</a>, a Y Combinator-backed company which did 3+ years of robotic deliveries of food, groceries, and packages around the San Francisco Bay Area.|zh:之前在<a href="https://robby.io">robby.io</a>擔任聯合創始人兼CTO，當時公司做了三年多的機器人配送，包括送餐，新鮮食材，包裹等。!]

  [!en:Before that, I completed my Ph.D. at the <a href="https://www.rle.mit.edu/qoptics/people/">Optical and Quantum Communications Group</a> at MIT, where I led the experimental implementation of a <a href="https://science.sciencemag.org/content/343/6166/58">single-photon 3D camera/LIDAR</a>, among other optics work. I come from a strong physics background and tend to attack most problems from first principles, and have lots of side projects in imaging, robotics, and photography. I have strong interests in promoting the use of robotics for greater good, including safety, convenience, and sustainability.|zh:博士研究是在麻省理工學院連讀的<a href="https://www.rle.mit.edu/qoptics/people/">量子通訊組</a>，主要負責一種新的<a href="https://science.sciencemag.org/content/343/6166/58">單光子激光雷達</a>的實際實驗，之前也在MIT攻讀物理與電子工程的雙專業。!]
  </p>

  <p>[!en:My <a href="http://d2ycs4ofblah20.cloudfront.net/files/dheera-venkatraman-resume.pdf">resume</a>, if you are looking for it.|zh:如需要可下我的<a href="http://d2ycs4ofblah20.cloudfront.net/files/dheera-venkatraman-resume.pdf">簡歷</a>。!]</p>

  {% if not userInfo.groups.aa %}

  <div style="max-height:400pt;overflow:hidden;">
  <img src="/images/profile-camera.jpg">
  </div>

  <h2><i class="fas fa-lightbulb"></i>&nbsp;&nbsp;[!en:fun|zh:業餘愛好!]</h2>

  <p>[!en:I'm fascinated by the physics of light. Photography is one of my main hobbies. I've done many photography projects, but of late, since I'm in California where dark skies are plentiful, I've been seizing the opportunities to image nebulas and deep sky objects in the context of natural landscapes, and it also allows for hiking as exercise. I also do a lot of other photography.|zh:我從小對光有充滿的好奇心，也從小玩攝影。前幾年搬來美國加州後發現這邊野外光還特別少，不僅肉眼可以看到滿天空無數顆星星，還可以方便拍到深空天體包括星雲和星系，並且發現我之前不知道的是，很多這些天體的視大小（角直徑）比我想像的大，比如仙女星星居然有月亮的六倍。所以我最近在抓緊我在加州的時間拍些天體和地景在一起的些構圖，讓人們發現這些肉眼看不到的美景。!]

  <p>[!en:In my spare time I also like building robots, hiking, biking, piano, and experimenting with food. I also think a lot about solutions to sustainability problems and how we can use technology to face them.|zh:我其他業餘愛好也包括家裡做些娛樂性的機器人，登山，騎單車，鋼琴，還有素食料理。我經常思考環境問題以及怎麼樣可以更加用技術去面對。!]</p>

  <h2><i class="fas fa-palette"></i>&nbsp;&nbsp;[!en:live by design|zh:設計生活!]</h2>

  <p>[!en:I like to live by design, not by default. If I can't find software that does what I want, I will usually build it. If I can't find a restaurant that serves what I want, I'll make it. But that applies to other things as well, like furniture, lighting, and hopefully many more things to come. One of my dreams is to one day have designed everything I own. I realize I may never get there, but I will try.|zh:我喜歡設計我整個生活，不喜歡留任何決定給默認的選項，不喜歡因為「大家」做某件事情而跟風。如果不存在我想要的軟件，我會去編。如果沒有我想吃的餐，我會去做飯。這個邏輯聽起來正常，但我也適用於其他場景，比如家具，燈光，也希望未來可以設計我生活中所有的東西。!]</p>

  <h2><i class="fas fa-globe-asia"></i>&nbsp;&nbsp;[!en:world citizen + tck|zh:世界公民!]</h2>

  <p>[!en:I'm a global citizen. I don't have a sense of being "from" anywhere. (Seriously, please don't ask this question, or I might throw a NullPointerException at you.) I'm a <a href="https://en.wikipedia.org/wiki/Third_culture_kid">Third-Culture Kid</a>, my culture, nationality, ethnicity, and languages all have basically nothing to do with each other, and the concept of being "from" a specific place is one that I never had.|zh:我是一個世界公民，從來沒油鍋對任何地方（國家，城市，政治或非政治地區）有歸屬感。請不要問這個問題了，我真的沒有答案。雖然我不喜歡標籤思維，我算是個<a href="https://en.wikipedia.org/wiki/Third_culture_kid">第三文化小孩</a>，因此我文化，國籍，祖籍，語言都毫無任何關係。!]</p>

  <h2><i class="fas fa-train"></i>&nbsp;&nbsp;[!en:travel|zh:旅遊!]</h2>

  [!en:If you are wondering parts of the world have influenced me, or are simply looking for travel recommendations or tips, you might want to take a look at the <a href="https://mapsengine.google.com/map/u/0/embed?mid=zrGjShp9ApJA.k821Vd3CtrQw">places I have been</a>|zh:我倒是滿世界到處跑過很多地方，如好奇的話歡迎參考我的<a href="https://mapsengine.google.com/map/u/0/embed?mid=zrGjShp9ApJA.k821Vd3CtrQw">旅遊地圖</a>。!].

  <!--
  <h2><i class="fas fa-hands-helping"></i>&nbsp;&nbsp;[!en:volunteer|zh:公益!]</h2>

  I used to volunteer frequently with the <a href="https://www.tzuchi.org.tw/">Tzu Chi Foundation</a>, including a disaster relief trips to Haiti, was on the founding team of the <a href="https://www.mitchief.org/">MIT-China Innovation and Entrepereneurship Forum</a>, and was a Marketing/Technical director of the <a href="http://sustainabilitysummit.mit.edu/">MIT Sustainability Summit</a> for many years. Currently I'm focused on my career and have put volunteer work on hold, but hope to return to it at some point in the future. My thoughts may change at some point, but I would like to think of better ways to use technology to better scale impact for social good, as human volunteer labor can only scale so much.

  -->

  {% endif %}

  </div>
  </div>

{% endblock %}
