{% extends "html.html" %}

{% block head %}
  <style>html{visibility: hidden;opacity:0;}</style>
  <title>{% if title %}{% block title %}{% endblock %} | {% endif %}dheera.net | Dheera Venkatraman's web site</title>
  {% block meta %}{% endblock %}
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;500;700&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="/css/base.css?version=0">
  <link rel="stylesheet" type="text/css" href="/fa/css/all.css">
<!--  <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.swipebox.js"></script>
  <script type="text/javascript" src="/static/js/jquery.transit.min.js"></script> -->

  <!-- Core CSS file -->
<link rel="stylesheet" href="/ps/photoswipe.css">

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite,
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="/ps/default-skin/default-skin.css">

<!-- Core JS file -->
<script src="/ps/photoswipe.min.js"></script>

<!-- UI JS file -->
<script src="/ps/photoswipe-ui-default.min.js"></script>

  <script type="text/javascript" src="/js/base.js"></script>
{% endblock %}

{% block body %}
  <div class="navbar">
    <div class="navbar-logo"><img src="/images/logo-white.png"></div>
    <div class="navbar-button-light" onclick="toggleLight();"><i class="fas fa-moon"></i></div>
    <div class="navbar-link"><a href="/photos">photography</a></div>
    <div class="navbar-link"><a href="/projects">projects</a></div>
    <div class="navbar-link"><a href="/about">me</a></div>
  </div>
  <div class="page">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
      <i class="fas fa-copyright"></i>&nbsp;&nbsp;Dheera&nbsp;Venkatraman
      &nbsp;&nbsp;&nbsp;<i class="fas fa-envelope"></i>&nbsp;&nbsp;dheera&nbsp;[at]&nbsp;dheera&nbsp;[dot]&nbsp;net
      &nbsp;&nbsp;&nbsp;<i class="fab fa-weixin"></i>&nbsp;&nbsp;dheeranet
    </div>
  </div>


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <div class="pswp__container">
            <!-- don't modify these 3 pswp__item elements, data is added later on -->
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
          </div>
        </div>
</div>
{% endblock %}
