{% extends "base.html" %}

{% block content %}

<div class="front-features">
  <div class="front-feature-big" style="background-image:url({{ index.featured[0].backgroundImageURL }});">
    <a href="{{ index.featured[0].url }}">
      <div class="text">
        <div class="title">{{ index.featured[0].title }}&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div>
        <div class="subtitle">{{ index.featured[0].subtitle }}</div>
      </div>
    </a>
  </div>
  <div class="front-features-small">
    <div class="front-feature-small" style="background-image:url({{ index.featured[1].backgroundImageURL }});">
      <div class="curtain"></div>
      <a href="{{ index.featured[1].url }}">
        <div class="text">
          <div class="title">{{ index.featured[1].title }}&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div>
	  <div class="subtitle">{{ index.featured[1].subtitle }}</div>
        </div>
      </a>
    </div>
    <div class="front-feature-small" style="background-image:url({{ index.featured[2].backgroundImageURL }});">
      <div class="curtain"></div>
      <a href="{{ index.featured[2].url }}">
        <div class="text">
          <div class="title">{{ index.featured[2].title }}&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div>
	  <div class="subtitle">{{ index.featured[2].subtitle }}</div>
        </div>
      </a>
    </div>
    <div class="front-feature-small" style="background-image:url({{ index.featured[3].backgroundImageURL }});">
      <div class="curtain"></div>
      <a href="{{ index.featured[3].url }}">
        <div class="text">
          <div class="title">{{ index.featured[3].title }}&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div>
	  <div class="subtitle">{{ index.featured[3].subtitle }}</div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="front-buttons">
  {% if not userInfo.groups.aa %}
  <a href="/posts"><div class="front-button"><div>[!en:Posts|zh:帖文!]&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div></div></a>
  {% endif %}
  <a href="/projects"><div class="front-button"><div>[!en:Projects|zh:項目!]&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div></div></a>
  <a href="/photos"><div class="front-button"><div>[!en:Photography|zh:攝影!]&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></div></div></a>
</div>

{% endblock %}
