{% extends "base.html" %}

{% block content %}

<br>
<div class="front-features">
  <div class="front-feature-big" style="background-image:url(https://dheera.imgix.net/photos/calnight/20210119-seagull-nebula-pinnacles-national-park.jpg?w=2048&h=2048&fit=fillmax&mark=/photos/_watermark/512.png&mark-w=200&mark-align=bottom,left&mark-pad=50&q=95&s=be713e64818bc1980f368c87b07d9ebe);">
    <a href="{{ index.featured[0].url }}">
      <div class="text">
        <div class="title">{{ index.featured[0].title }}&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div>
        <div class="subtitle">{{ index.featured[0].subtitle }}</div>
      </div>
    </a>
  </div>
  <div class="front-features-small">
    <div class="front-feature-small">
      <a href="{{ index.featured[1].url }}">
        <div class="text">
          <div class="title">{{ index.featured[1].title }}&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div>
	  <div class="subtitle">{{ index.featured[1].subtitle }}</div>
        </div>
      </a>
    </div>
    <div class="front-feature-small">
      <a href="{{ index.featured[2].url }}">
        <div class="text">
          <div class="title">{{ index.featured[2].title }}&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div>
	  <div class="subtitle">{{ index.featured[2].subtitle }}</div>
        </div>
      </a>
    </div>
    <div class="front-feature-small">
      <a href="{{ index.featured[3].url }}">
        <div class="text">
          <div class="title">{{ index.featured[3].title }}&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div>
	  <div class="subtitle">{{ index.featured[3].subtitle }}</div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="front-buttons">
  <a href="/posts"><div class="front-button"><div>Posts&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div></div></a>
  <a href="/projects"><div class="front-button"><div>Projects&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></div></div></a>
  <a href="/photos"><div class="front-button"><div>Photography&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></div></div></a>
</div>

{% endblock %}
