/* ******** FONTS ******** */

@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/saira-semi-condensed-v6-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/saira-semi-condensed-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/saira-semi-condensed-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/saira-semi-condensed-v6-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/saira-semi-condensed-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/saira-semi-condensed-v6-latin-300.svg#SairaSemiCondensed') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/saira-semi-condensed-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/saira-semi-condensed-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/saira-semi-condensed-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/saira-semi-condensed-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/saira-semi-condensed-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/saira-semi-condensed-v6-latin-700.svg#SairaSemiCondensed') format('svg'); /* Legacy iOS */
}

/* ******** BASIC ******** */

html {
    margin:0;
    visibility:visible;
    opacity:1;
}

body {
    margin:0;
    background:#1c1c1c;
    color:#ffffff;
    font-family:'Saira Semi Condensed', sans-serif;
    font-weight:300;
    font-size:14pt;
    touch-action: pan-x pan-y;
}

body.light {
    background:#ffffff;
    color:#000000;
}

img: { border:0; }

h1, h2, h3, h4, h5 {
    color:#ffffff;
    font-weight:300;
}

.light h1, .light h2, .light h3, .light h4, .light h5 {
    color:#808080;
}

h1 { font-size:40pt; }
h2 { font-size:35pt; }
h3 { font-size:30pt; }
h4 { font-size:25pt; }
h5 { font-size:20pt; }
h5 { font-size:16pt; }

@media only screen and (max-width: 899px) {
  h1 { font-size:30pt; }
  h2 { font-size:25pt; }
  h3 { font-size:20pt; }
  h4 { font-size:15pt; }
  h5 { font-size:14pt; }
  h6 { font-size:13pt; }
  body { font-size:12pt; }
}


a:link {
  color:#2ea9df;
  text-decoration:none;
}

a:visited {
  color:#2ea9df;
  text-decoration:none;
}

.light a:link {
  color:#0080cc;
}

.light a:visited {
  color:#0080cc;
}

.img-float-right {
 float:right;
 margin-left:10pt;
 margin-bottom:10pt;
}

/* ******** GENERAL NAVIGATION ******** */

.navbar {
  color:#ffffff;
  position:fixed;
  top:0;
  width:calc( 100% - 40pt );
  height:30pt;
  line-height:0pt;
  vertical-align:middle;
  padding:20pt;
  z-index:1000;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  -webkit-transition:background-color 0.3s ease;
  -moz-transition:background-color 0.3s ease;
  -ms-transition:background-color 0.3s ease;
  -o-transition:background-color 0.3s ease;
  transition:background-color 0.3s ease;
}

@media only screen and (max-width: 899px) {
  .navbar {
    position:static;
    z-index:0;
  }
}

.navbar-logo {
  position:static;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  float:left;
  opacity:0.5;
  width:150px;
}

.navbar-right {
  height:100%;
  width:calc( 100% - 210px );
  float:right;
  overflow:hidden;
  text-align:right;
}

.navbar-mobile {
  text-transform:uppercase;
  display:none;
  position:absolute;
  top:70pt;
  width:calc( 100% - 40pt );
  height:25pt;
  color:#606060;
}

.light .navbar-mobile {
  color:#c0c0c0;
}

@media only screen and (max-width: 899px) {
  .navbar {
    height:30pt;
  }
  .navbar-mobile {
    display:block;
  }
}

.light .navbar-logo {
  filter:invert();
}

.navbar-logo img {
  width:150px;
  vertical-align:middle;
}

.navbar-button-lang {
  position:static;
  display:inline-block;
  width:30pt;
  height:30pt;
  line-height:30pt;
  vertical-align:middle;
  cursor:pointer;
  color:#808080;
}

.navbar-button-lang-icon {
  background:#808080;
  width:20pt;
  height:20pt;
  font-size:11pt;
  font-weight:700;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#303030;
  border-radius:4pt;
  cursor:pointer;
  position:relative;
  top:50%;
  left:50%;
  margin-top:-10pt;
  margin-left:-10pt;
}

.light .navbar-button-lang-icon {
  color:#ffffff;
}

.navbar-button-light {
  position:static;
  display:inline-block;
  width:30pt;
  height:30pt;
  line-height:30pt;
  vertical-align:middle;
  cursor:pointer;
  color:#808080;
}

.navbar-link {
  text-transform:uppercase;
  position:static;
  display:inline-block;
  width:calc( 25% - 40pt );
  height:30pt;
  text-align:center;
  vertical-align:middle;
  line-height:30pt;
}

@media only screen and (max-width: 900px) {
  .navbar-desktop {
    display:none;
  }
}

.navbar a:link {
  color:#c0c0c0;
  text-decoration:none;
}

.navbar a:visited {
  color:#c0c0c0;
  text-decoration:none;
}

@media only screen and (min-width: 900px) {
  html:not([data-scroll='0']) .navbar {
    background-color:rgba(40, 40, 40, 0.7);
    box-shadow:4px 4px 4px rgba(0,0,0,0.1);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    backdrop-filter: blur(8px);
  }
}

.light .navbar {
  background:#ffffff;
  color:#000000;
}

.light .navbar a:link {
  color:#303030;
}

.light .navbar a:visited {
  color:#303030;
}

.light .navbar-mobile a:link {
  color:#808080;
}

.light .navbar-mobile a:visited {
  color:#808080;
}


@media only screen and (min-width: 900px) {
  html:not([data-scroll='0']) .light .navbar {
    background-color:rgba(235, 235, 235, 0.7);
    box-shadow:4px 4px 4px rgba(0,0,0,0.1);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    backdrop-filter: blur(8px);
  }
}

.navbar-mobile a:link {
  color:#808080;
}

.navbar-mobile a:visited {
  color:#808080;
}

.page {
  position:absolute;
  top:30pt;
  left:0pt;
  width:100%;
}

.content {
  padding:20pt;
  max-width: 1300pt;
  margin-left:auto;margin-right:auto;
}

.footer {
  padding:20pt;
  color:#808080;
  font-size:11pt;
}

@media only screen and (max-width:899px) {
  .page {
    top:80pt;
  }
  .footer { font-size:9pt; }
}

/* ******** PHOTO GRID ******** */

.license {
  font-size:10pt;
  font-weight:700;
  color:#808080;
  opacity:0.75;
  margin-top:10pt;
}

.photo-grid {
  margin-left:-20pt;
  margin-right:-20pt;
  margin-top:40pt;
  line-height:0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -o-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.photo-grid img {
  margin-right: 5pt;
  margin-bottom: 5pt;
  height:auto;
}

@media only screen and (min-width: 1100px) {
  .photo-grid img {
    width:calc( 20% - 4pt );
  }

  .photo-grid a:nth-child(5n) img {
    margin-right: 0pt;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .photo-grid img {
    width:calc( 25% - 4pt );
  }

  .photo-grid a:nth-child(4n) img {
    margin-right: 0pt;
  }
}

@media only screen and (max-width: 899px) {
  .photo-grid img {
    width:calc( 33.333333333333333% - 4pt );
  }

  .photo-grid a:nth-child(3n) img {
    margin-right: 0pt;
  }
}

/* ******** ALBUMS ******** */

.album-grid-unfeatured, .album-grid-featured {
  margin-left:-20pt;
  margin-right:-20pt;
  margin-top:40pt;
  line-height:0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -o-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.album-grid-featured .album {
  display:inline-block;
  position:relative;
  margin-right: 5pt;
  margin-bottom: 5pt;
  width:calc( 33.333333333333333% - 4pt );
  height:400pt;
  overflow:hidden;
}

.album-grid-unfeatured .album {
  display:inline-block;
  position:relative;
  margin-right: 5pt;
  margin-bottom: 5pt;
  width:calc( 33.333333333333333% - 4pt );
  height:200pt;
  overflow:hidden;
}

@media only screen and (max-width: 899px) {
  .album-grid-featured .album {
    display:inline-block;
    position:relative;
    margin-right: 0pt;
    margin-bottom: 5pt;
    width:100%;
    height:150pt;
    overflow:hidden;
  }
}

@media only screen and (max-width: 899px) {
  .album-grid-unfeatured .album {
    display:inline-block;
    position:relative;
    margin-right: 0pt;
    margin-bottom: 5pt;
    width:100%;
    height:100pt;
    overflow:hidden;
  }
}
  
.album-grid-featured a:nth-child(3n) .album {
  margin-right: 0pt;
}

.album-grid-unfeatured a:nth-child(3n) .album {
  margin-right: 0pt;
}

.album-grid-featured .album img {
  position:absolute;
  top:0;
  left:0;
  z-index:50;
  min-width:100%;
  min-height:100%;
}

.album-grid-unfeatured .album img {
  position:absolute;
  top:0;
  left:0;
  z-index:50;
  min-width:100%;
  min-height:100%;
}


.album-grid-featured .album-text {
  position:absolute;
  top:0;
  left:0;
  z-index:100;
  display:flex;
  flex-direction:column;
  width:calc( 100% - 40pt );
  height:calc( 100% - 40pt );
  justify-content:center;
  /*align-items: center;*/
  color:#ffffff;
  text-decoration:none;
  line-height:1.5em;
  padding:20pt;
  background-color:rgba(40, 40, 40, 0.5);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.album-grid-featured .album-title {
  position:static;
  display:block;
  font-size:24pt;
  line-height:32pt;
  font-weight:700;
  color:#ffffff;
}

.album-grid-featured .album-subtitle {
  position:static;
  display:block;
  font-size:15pt;
  line-height:20pt;
  margin-top:15pt;
  color:#d0d0d0;
}

@media only screen and (max-width: 899px) {
  .album-grid-featured .album-title {
    font-size:18pt;
    line-height:24pt;
  }
  .album-grid-featured .album-subtitle {
    margin-top:10pt;
    font-size:12pt;
    line-height:16pt;
  }
}


.album-grid-unfeatured .album-text {
  position:absolute;
  top:0;
  left:0;
  z-index:100;
  display:flex;
  width:calc( 100% - 40pt );
  height:calc( 100% - 40pt );
  justify-content:center;
  align-items: center;
  color:#ffffff;
  text-decoration:none;
  line-height:1.5em;
  padding:20pt;
  font-size:20pt;
  background-color:rgba(40, 40, 40, 0.5);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

@media only screen and (max-width: 899px) {
  .album-grid-unfeatured .album-text {
    font-size:15pt;
  }
}

/* ******** MARKUP ******** */

.markup-content {

}

.markup-content img {
  max-width:100%;
  margin-left:auto;margin-right:auto;
  text-align:center;
  display:block;
}

@media only screen and (min-width: 1100px) {
  .markup-content img {
    max-width:70%;
  }
}

.markup-content .code {
  font-family:monospace;
  white-space:nowrap;
  background:#303030;
  color:#c0c0c0;
  border:4pt solid #303030;
}

.light .markup-content .code {
  background:#c0c0c0;
  color:#303030;
  border:4pt solid #c0c0c0;
}
