/* saira-semi-condensed-300 - latin */
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/saira-semi-condensed-v6-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/saira-semi-condensed-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/saira-semi-condensed-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/saira-semi-condensed-v6-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/saira-semi-condensed-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/saira-semi-condensed-v6-latin-300.svg#SairaSemiCondensed') format('svg'); /* Legacy iOS */
}

/* saira-semi-condensed-700 - latin */
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/saira-semi-condensed-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/saira-semi-condensed-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/saira-semi-condensed-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/saira-semi-condensed-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/saira-semi-condensed-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/saira-semi-condensed-v6-latin-700.svg#SairaSemiCondensed') format('svg'); /* Legacy iOS */
}

html {
    margin:0;
}

body {
    margin:0;
    background:#1c1c1c;
    color:#ffffff;
    font-family:'Saira Semi Condensed', sans-serif;
    font-weight:300;
}

body.light {
    background:#ffffff;
    color:#000000;
}

h1, h2, h3, h4, h5 {
    color:#ffffff;
    font-weight:300;
}

.light h1, .light h2, .light h3, .light h4, .light h5 {
    color:#808080;
}

h1 {
   font-size:40pt;
}

a:link {
  color:#2ea9df;
  text-decoration:none;
}

a:visited {
  color:#2ea9df;
  text-decoration:none;
}

.light a:link {
  color:#0080cc;
}

.light a:visited {
  color:#0080cc;
}

.img-float-right {
 float:right;
 margin-left:10pt;
 margin-bottom:10pt;
}

.navbar {
  color:#ffffff;
  position:fixed;
  top:0;
  width:100%;
  height:30pt;
  line-height:0pt;
  vertical-align:middle;
  padding:20pt;
  z-index:1000;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  -webkit-transition:background-color 0.3s ease;
  -moz-transition:background-color 0.3s ease;
  transition:background-color 0.3s ease;
}

@media only screen and (max-width: 899px) {
  .navbar {
    position:static;
    z-index:0;
  }
}

.navbar-logo {
  position:static;
  margin-right:20pt;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  float:left;
  opacity:0.5;
}

.light .navbar-logo {
  filter:invert();
}

.navbar-logo img {
  width:150px;
  vertical-align:middle;
}

.navbar-button-light {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100pt;
  height:100%;
  float:right;
  cursor:pointer;
  color:#808080;
}

.navbar-link {
  text-transform:uppercase;
  position:static;
  display:flex;
  align-items:center;
  justify-content:center;
  width:15%;
  height:100%;
  vertical-align:middle;
  line-height:100vh;
  float:right;
}

@media only screen and (max-width: 900px) {
  .navbar-link {
    width:50pt;
    /*transform:rotate(-90deg) translateX(-20px) translateY(-40px);
    justify-content:flex-end;*/
    writing-mode:vertical-rl;
  }
}

.navbar a:link {
  color:#c0c0c0;
  text-decoration:none;
}

.navbar a:visited {
  color:#c0c0c0;
  text-decoration:none;
}

@media only screen and (min-width: 900px) {
  html:not([data-scroll='0']) .navbar {
    background-color:rgba(40, 40, 40, 0.7);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    backdrop-filter: blur(8px);
  }
}

.light .navbar {
  background:#ffffff;
  color:#000000;
}

.light .navbar a:link {
  color:#303030;
}

.light .navbar a:visited {
  color:#303030;
}

@media only screen and (min-width: 900px) {
  html:not([data-scroll='0']) .light .navbar {
    background-color:rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    backdrop-filter: blur(8px);
  }
}

.page {
  position:absolute;
  top:30pt;
  left:0pt;
  width:100%;
}

.content {
  padding:20pt;
  max-width: 1300pt;
  margin-left:auto;margin-right:auto;
}

.footer {
  padding:20pt;
  color:#808080;
  font-size:11pt;
}
  
.photo-grid {
  margin-left:-20pt;
  margin-right:-20pt;
  margin-top:40pt;
  line-height:0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.photo-grid img {
  margin-right: 5pt;
  margin-bottom: 5pt;
  height:auto;
}

@media only screen and (min-width: 1100px) {
  .photo-grid img {
    width:calc( 20% - 4pt );
  }

  .photo-grid a:nth-child(5n) img {
    margin-right: 0pt;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .photo-grid img {
    width:calc( 25% - 4pt );
  }

  .photo-grid a:nth-child(4n) img {
    margin-right: 0pt;
  }
}

@media only screen and (max-width: 899px) {
  .photo-grid img {
    width:calc( 33.333333333333333% - 4pt );
  }

  .photo-grid a:nth-child(3n) img {
    margin-right: 0pt;
  }
}

