{% extends "../base.html" %}

{% block title %}
Projects
{% endblock %}

{% block meta %}
<meta property="og:title" content="Projects | dheera.net">
<meta property="og:image" content="{{ projectsFeatured[0].thumbnail }}">
{% endblock %}

{% block content %}

<div class="album-grid-featured">
    {% for project in projectsFeatured %}
    <a href="/projects/{{project.name}}/">
    <div class="album">
        <div class="album-text">
          <div class="album-title">{{project.title}}</div>
	  <div class="album-subtitle">{{project.subtitle}}</div>
	</div>
	<img src="{{project.thumbnail}}">
    </div>
    </a>
    {% endfor %}
</div>

<div class="album-grid-unfeatured">
    {% for project in projectsUnfeatured %}
    <a href="/projects/{{project.name}}/">
    <div class="album" style="background-image:url({{project.thumbnail}});">
        <div class="album-text">
	  <div class="album-title">{{project.title}}</div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
